/* Basic Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  overflow: hidden;
}
/* CSS Variables */
:root {
  --primary-color: #ffffff;
  --secondary-color: #c8102e;
  --background-color: #012169;
  --background-color-2: #0b1a4f;
}

span {
  color: var(--secondary-color);
}
